<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>FOT</title>
    <link rel="stylesheet" th:href="@{assets/css/style_login.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!--<img class="navbar-brand" th:src="@{/Admin/img/logo/wave.png}">-->
<img class="wave" th:src="@{/assets/img/wave.png}">
<div class="container">
    <div class="img">
<!--        <img class="navbar-brand" th:src="@{/Admin/img/logo/bg.svg}">-->
        <img th:src="@{/assets/img/bg.svg}">
    </div>
    <div class="login-content">
        <form method="post"   th:action="@{/reset_pwd}">
            <img th:src="@{/assets/img/avatar.svg}">
            <div class="alert alert-danger" role="alert" th:if="${param.error_matchPwd}">
                Doesn't Match password
            </div>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" name="pwd" placeholder="New Password">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <input type="password" class="input" name="confirm_pwd"  placeholder="Confirm Password">
                </div>
            </div>
            <input type="submit" class="btn" value="Submit">
        </form>
    </div>
</div>
<script  th:src="@{assets/js/main_login.js}"></script>
</body>
</html>
